---
title: わたしたちについて
url: www/index.html
---
<article class="article-detail">
  <h1 class="page-title">{{title}}</h1>
  <div class="image-center">
    <img src="{{assets}}/img/img_01.png" alt="">
  </div>
  <p>あんなこといいな。できたらいいな。</p>
  <p>みんなで力を合わせれば、今までできなかったこと、きっとできるようになる。</p>
  <p>ちょっと大変な時でも、仲間と一緒ならがんばれる。だから、いつでも楽しいこと考えよう、やってみよう、つくってみよう。</p>
  <p>このサイトでは、コモモ・モリコ・ひろましゃのメンバーが勢いでつくったものを紹介しています。</p>
</article>
