<article class="article-detail">
  <header class="article-detail-head">
  <h1 class="page-title">{{title}}</h1>
  <figure>
    <img src="{{assets}}/img/{{img}}" width="720" height="390" alt="">
  </figure>
  </header>
  <section class="article-detail-body">
    {{> body }}
  </section>
  <footer class="article-detail-foot">
  
  </footer>
</article>
