<!DOCTYPE html>
{{> ie-comment }}
<html class="no-js" lang="ja">
  <head>
    {{> head }}
  </head>
  <body>
    <div id="page">
      {{> header }}

      {{#unless home}}
        {{> page-path }}
      {{/unless}}

      {{! content
      ==================== }}
      {{> body }}

      {{> page-top }}

      {{> page-foot}}

      {{! footer scripts
      ==================== }}
      {{> javascripts }}
    </div>
  </body>
</html>
