---
title: WordPressワークブック
url: www/portfolio/02.html
portfolio: true
---
<article class="articleDetail">
<header class="articleDetailHead">
<h1 class="pageTitle">{{title}}</h1>
<img src="{{assets}}/img/img_02_01.jpg" alt="" width="720" height="390">
<p>WordPressテーマカスタマイズの入門書<br>
<a href="http://www.amazon.co.jp/dp/4881669281">Amazonでのご購入はこちら</a></p>
</header>

<section class="articleDetailBody">

<h2 class="heading-typeA">ウェブ制作のワークフローに沿った実践的な解説書</h2>
<p>「WordPressデザインワークブック」は、コモモとひろましゃのコンビで執筆したWordPressテーマカスタマイズの入門書です。</p>
<p>2つのサンプルサイトを元に、実際のサイト制作のワークフローに沿って開発環境で作業を進めるところからスタートし、本番サーバへの移行やバックアップの方法まで、クライアントワークで必要になってくる実践的なノウハウを数多く掲載しています。</p>

<table>
<caption>制作担当</caption>
<tbody><tr>
<th>コモモ</th>
<td>サンプルサイトのデザイン、HTML/CSSコーディング、WordPressの基本実装<br>書籍執筆</td>
</tr>
<tr>
<th>ひろましゃ</th>
<td>サンプルサイトのWordPress実装のうち、難しそうなPHPプログラム部分担当<br>書籍執筆</td>
</tr>
</tbody></table>

<section>
<h3 class="heading-typeB">WordPressの基礎をちゃんと積み上げたい方へ</h3>
<p>ウェブデザイナーが実務としてサイト制作を行う際に、「WordPressの設計思想を知って、WordPressを柔軟に使いこなせるようになること」を目標に書きました。</p>
<p>
通り一遍のウェブサイトを作れるようになるだけじゃなくて、もう一歩WordPressへ踏み込み、自分のやりたいことに応用できるようになってもらえたら嬉しいです。
</p>
<img src="{{assets}}/img/img_02_02.jpg" alt="" width="720" height="390">
</section>

<section>
<h3 class="heading-typeB">ウェブデザイナーの女の子に読んでもらいたい</h3>
<p>2つのサンプルサイトのうち、ひとつは札幌にある実在のクレープ屋さん「<a href="http://www.ninocrepe.info/">nino</a>」のサイトです。<br>
ウェブデザイナーの女の子に、クレープ食べたいなぁって考えながら読んでもらえたらいいな(^ ^)</p>
<img src="{{assets}}/img/img_02_03.jpg" alt="" width="720" height="390">
</section>

</section>

<footer class="articleDetailFoot">
{{> social }}
<div class="fb-like" data-href="http://komorikomasha.info/portfolio/02.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

<section>
<h2 class="heading-typeC">関連リンク</h2>
<ul>
<li><a href="http://www.amazon.co.jp/dp/4881669281">Amazon（WordPressデザインワークブック3.4対応）</a></li>
<li><a href="http://www.sotechsha.co.jp/sp/928/">WordPressデザインワークブック3.4対応サポートページ</a></li>
<li><a href="http://www.sotechsha.co.jp/">ソーテック社</a></li>
<li><a href="http://cat-speak.net/2012/07/05/482/">コモモのまえがき：「WordPress デザインワークブック 3.4対応」を執筆しました！</a></li>
<li><a href="http://another.maple4ever.net/archives/1697/">ひろましゃのあとがき：「WordPress デザインワークブック 3.4対応」を執筆しました！</a></li>
</ul>
</section>

<aside class="creditUnit">
<div class="creditUnitText">
<p>撮影協力</p>
<h2 class="heading-typeC">nino</h2>
<p>札幌市豊平区月寒東2条6丁目1-17</p>
<ul>
<li><a href="http://www.ninocrepe.info/">http://www.ninocrepe.info/</a></li>
</ul>
<p>WordPressデザインワークブックのサンプルサイトとしても登場するクレープ屋さん。<br>おからの入ったクレープ生地はふかふかでおいしいよ。</p>
</div>
{{> map02 }}
</aside>
</footer>

</article>
