---
title: バッタになりたい魔法使い
url: www/portfolio/03.html
portfolio: true
---
<article class="articleDetail">
<header class="articleDetailHead">
<h1 class="pageTitle">{{title}}</h1>
<img src="{{assets}}/img/img_03_01.jpg" alt="" width="720" height="390">
<p>ウェブ仕掛け絵本<br>
<a href="http://pararaehon.com/">バッタになりたい魔法使い</a></p>
</header>

<section class="articleDetailBody">

<h2 class="heading-typeA">合い言葉は、バッタになっちゃえ！</h2>
<p>「バッタになりたい魔法使い」は、ライトノベル作家になりたいひろましゃと、イラストレーターになりたいコモモの利害が一致し、手始めに絵本作ってみようかという話になって作りました。<br>
合い言葉は、バッタになっちゃえ！・・まぁ、とにかく絵本を読んでみてください(^ ^)</p>

<table>
<caption>制作担当</caption>
<tbody><tr>
<th>コモモ</th>
<td>え</td>
</tr>
<tr>
<th>ひろましゃ</th>
<td>おはなし、JavaScriptとか</td>
</tr>
</tbody></table>

<section>
<h3 class="heading-typeB">パララックス効果を利用したウェブ仕掛け絵本</h3>
<p>絵本の制作にあたって、ひろましゃが、はじめてのJavaScriptに挑戦しました。ブログで作り方を解説していますので、興味のある方は、<a href="http://another.maple4ever.net/archives/1805/">こちらの記事</a>をご覧ください。</p>
<img src="{{assets}}/img/img_03_02.jpg" alt="" width="720" height="390">
</section>
</section>

<footer class="articleDetailFoot">
{{> social }}
<div class="fb-like" data-href="http://komorikomasha.info/portfolio/03.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

<section>
<h2 class="heading-typeC">関連リンク</h2>
<ul>
<li><a href="http://pararaehon.com/">バッタになりたい魔法使い</a></li>
<li><a href="http://another.maple4ever.net/archives/1805/">ひろましゃの記事：canvas と Web 仕掛け絵本</a></li>
</ul>
</section>

</footer>

</article>
